{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_meta %}
        {% endblock head_meta %}
        <title>{% block title %}Maintenance{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/static/inventoryresource/logo.png">
        <meta name="viewport" content="width=500px, initial-scale=0.8">
        <link rel="stylesheet" href="/static/inventoryresource/fire.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body style="background: #5f6171;">
        <p style="color: white;text-align: center;position: absolute;top:90%;left: 55%;transform: translateX(-50%);" class="lead"><small>It's not ready yet.</small></p>
    </body>
</html>